
body {
  /* background-image: url("https://i.ibb.co/qpJPhbz/Screen-Shot-2021-10-19-at-9-38-18-AM.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 35%; */
  height: 100%;
  text-align: center;
}

h2 {
    margins: auto;
    text-align: center;
    font-size: 40px;
    color: #dda15e;
}
button {
            text-align: center;
}

.game-board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(20, 10px);
  grid-template-rows: repeat(20, 10px);
  border-color: cadetblue;

}

.cell {
  position: relative;
  width: 100%;
  height: 100%;
  border-color: cadetblue;
 
}


.inside {
  position: absolute;
  width: 100%;
  height: 100%;
  
}

.ratcell {
  content: 🐀 ;
}
