@media only screen and (min-width: 700px) {

body {
  font-family: monospace;
  background-color: #e5e5f7;
  height: 100%;
  text-align: center;
  overflow: hidden;
   --snake-color: green;
}

body.darkMode {
  background-color: black;
  color:chartreuse;
  --snake-color: #291749;
} 

.buttons {
  display: flex;
  justify-content: space-around;
}

.scores {
  display: flex;
  justify-content: space-around;
}

h2 {
    margins: auto;
    text-align: center;
    font-size: 30px;
    color: black;
}

h3 {
  font-size: 15px;
  display: inline-block;
  text-align: center;
  margin-inline-start: 20px;
}

body.darkMode h2 {
  color:chartreuse;
}


#start {
  opacity: 0;
}

#space-start {
  display: block;
  font-size: 30px;
  text-align: center;
}

.directions {
  text-decoration: none;
}

.game-board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  width: 400px;
  margin: auto;
  border: double 15px purple;
  border-radius: 5px;

}

body.darkMode .game-board {
  border: double 15px chartreuse;
}


.cell {
  position: relative;
  width: 100%;
  height: 100%;
 
}

.inside {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
}

body.darkMode .inside {
  background-color: purple;
} 

.mobile {
  opacity: 0;
}
}

body {
  font-family: monospace;
  background-color: #e5e5f7;
  height: 100%;
  text-align: center;
   --snake-color: green;
}

body.darkMode {
  background-color: black;
  color:chartreuse;
  --snake-color: #291749;
} 

h2 {
    margins: auto;
    text-align: center;
    font-size: 30px;
    color: black;
}

h3 {
  font-size: 15px;
  display: inline;
  margin-inline-start: 20px;
}

body.darkMode h2 {
  color:chartreuse;
}

#color {
  text-align: center;
}

#directions {
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

body.darkMode #directions {
  color: white;
}

.game-board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  width: 400px;
  margin: auto;
  border: double 15px purple;
  border-radius: 5px;

}

body.darkMode .game-board {
  border: double 15px chartreuse;
}


.cell {
  position: relative;
  width: 100%;
  height: 100%;
 
}

.inside {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
}

body.darkMode .inside {
  background-color: purple;
} 

@media only screen and (max-width: 700px) {

.scores {
  display: flex;
  justify-content: space-around;
}

.game-board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(20, 15px);
  grid-template-rows: repeat(20, 15px);
  width: 300px;
  margin: auto;
  border: double 15px purple;
  border-radius: 5px;

}

.cell {
  position: relative;
  width: 100%;
  height: 100%;
 
}

.inside {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
}


.mobile {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.left { 
  background-color: purple;
  border: none;
  border-radius: 20%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 4px 2px;
  cursor: pointer;
  grid-area: 3 / 2 / 4 / 3; 
}

.right {
  background-color: purple;
  border: none;
  border-radius: 20%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 4px 2px;
  cursor: pointer; 
  grid-area: 3 / 4 / 4 / 5; 
}

.up {
  background-color: purple;
  border: none;
  border-radius: 20%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 4px 2px;
  cursor: pointer; 
  grid-area: 2 / 3 / 3 / 4; 
}

.down { 
  background-color: purple;
  border: none;
  border-radius: 20%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 26px;
  margin: 4px 2px;
  cursor: pointer;
  grid-area: 4 / 3 / 5 / 4; 
}


#space-start {
  opacity: 0;
}

}