body {
  font-family: monospace;
  background-color: #e5e5f7;
  height: 100%;
  text-align: center;
   --snake-color: green;
}

body.darkMode {
  background-color: black;
  color:chartreuse;
  --snake-color: red;
}

h2 {
    margins: auto;
    text-align: center;
    font-size: 30px;
    color: black;
}

h3 {
  font-size: 15px;
  display: inline;
  margin-inline-start: 20px;
}

body.darkMode h2 {
  color:chartreuse;
}

button {
  text-align: center;
}

#directions {
  display: block;
  font-size: 15px;
  font-weight: bold;
  color: black;
}

body.darkMode #directions {
  color: white;
}

.game-board {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  width: 400px;
  margin: auto;
  border: double 15px purple;
  border-radius: 5px;

}

body.darkMode .game-board {
  border: double 15px chartreuse;
}


.cell {
  position: relative;
  width: 100%;
  height: 100%;
 
}

.inside {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
}

body.darkMode .inside {
  background-color: purple;
}
